<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', { title: 'Campgrounds' }) %>

    <body class="d-flex flex-column min-vh-100">
        <%- include('../partials/navbar.ejs') %>
        <main class="container mt-5">
            <h1>All Campgrounds</h1>
            <div>
                <a href="/campgrounds/new">Add a new campground</a>
            </div>
            <ul>
                <% for (let campground of campgrounds) { %>
                    <li><a href="/campgrounds/<%= campground._id %>">
                            <%= campground.title %>
                        </a></li>
                    <% } %>
            </ul>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>