<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', { title: 'Show' }) %>

    <body class="d-flex flex-column min-vh-100">
        <%- include('../partials/navbar.ejs') %>
        <div class="container mt-5">
            <h1>
                <%= campground.title %>
            </h1>
            <h2>
                <%= campground.location %>
            </h2>
            <figure>
                <img src="<%= campground.image %>" alt="Campground image">
                <figcaption><%= campground.description %></figcaption>
            </figure>
            <footer>
                <a href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
                <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                    <button>Delete campground</button>
                </form>
                <a href="/campgrounds">All Campgrounds</a>
            </footer>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>