<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', { title: 'Show' }) %>

    <body class="d-flex flex-column min-vh-100">
        <%- include('../partials/navbar.ejs') %>
        <div class="container my-5">
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="card">
                        <img src="<%= campground.image %>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%= campground.title %></h5>
                          <p class="card-text"><%= campground.description %></p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item text-muted"><%= campground.location %></li>
                          <li class="list-group-item">$<%= campground.price %> / night</li>
                        </ul>
                        <div class="card-body d-flex">
                            <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning me-2">Edit</a>
                            <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete campground</button>
                            </form>
                            <a href="/campgrounds" class="ms-auto btn btn-primary">All Campgrounds</a>
                        </div>
                      </div>    
                </div>
            </div>

        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>